<p>book works!</p>
<ul class="list-group list-group-flush" >
  <li *ngFor="let book of books " class="list-group-item">
    <a [routerLink]="['/book', book.id]" >
      <span class="badge">{{book.id}}</span>
      {{book.name}}
    </a></li>
</ul>
